---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import Quote from "../components/Quote.astro";
import Tech from "../components/Tech.astro";

export const albums = await getCollection("albums");
---
<BaseLayout>
    <div id="photography-page" class="my-0 lg:mt-32 flex flex-col gap-16 items-center">
        <Quote author="Ali Novake" styles="w-4/5 lg:w-1/3 mt-10 mb-5">
            The world moves fast, changing everything around us with each new day.
            Photography is a gift that can keep us in a moment forever, blissfully eternal.
        </Quote>
        <h1 class="text-6xl font-extrabold drop-shadow-md border-2 rounded-md border-white p-4">
            Albums
        </h1>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-14 justify-center items-center">
            {
                albums.sort((a, b) => a.data.index - b.data.index).map((album) => {
                    const href = `/photography/${album.id}`;

                    return (
                        <div class={
                            `w-75 h-90 overflow-hidden relative border-2 bg-black border-white shadow-[10px_10px_17px_rgba(0,0,0,0.3)]
                            text-white font-light whitespace-nowrap text-center transition-all duration-300
                            hover:bg-white hover:[&>img]:opacity-80`
                        }>
                            <Image
                                src={album.data.cover}
                                alt={album.data.title}
                                class={`opacity-90
                                    transition-all duration-300
                                    object-cover object-center min-w-full min-h-full`
                                }
                                format="jpg"
                                loading="lazy"
                                decoding="async"
                                data-photo-album={href}
                            />
                            <a class="abs-center p-3 drop-shadow-2xl text-2xl bg-black/40 border border-white z-50" href={href}>
                                <p class="effect-underline font-soft font-extralight">{album.data.title.toUpperCase()}</p>
                                <p class="font-zh text-2xl">{album.data.short_description}</p>
                            </a>
                        </div>
                    );
                })
            }
        </div>
        <div class="m-5 sm:w-full md:w-1/2 lg:w-1/4 text-center text-slate-100">
            Follow me on my <a target="_blank" href="https://instagram.com/tom_the_bomb_111">
                <Tech name="instagram" styles="text-instagram underline hover:text-white hover:[&>svg]:text-white">Instagram</Tech>
            </a>
            to see more of my photography work!
        </div>
    </div>
</BaseLayout>

<script>
    document.addEventListener('astro:page-load', () => {
        if (document.getElementById('photography-page') == null) {
            return;
        }

        document.querySelectorAll('[data-photo-album]')
            ?.forEach((album) => {
                album.addEventListener('click', () => {
                    window.location.href = album.getAttribute('data-photo-album')!;
                });
            });
    });
</script>