---
import { Image } from "astro:assets";

import Icon from "./Icon.astro";

interface Props {
    image: ImageMetadata,
    album: string,
}

const { image, album } = Astro.props;
const alt = `An image from the album: [${album}]`
---
<div class="gallery-image">
    <Image
        src={image}
        alt={alt}
        class={
            `rounded-md mb-4 shadow-lg hover:scale-[102%] opacity-90
            border border-transparent hover:border-slate-100
            transition-all duration-300 ease-in-out`
        }
        quality={50}
        loading="lazy"
        decoding="async"
        data-image-src={image.src}
        data-album-image
    />
    <div
        class="modal hidden fixed z-50 left-0 top-0 w-screen h-screen
        bg-black bg-opacity-75 backdrop-blur-md"
    >
        <Icon
            img="close"
            target="_self"
            size="4em"
            styles="close-btn absolute right-0 m-4 mr-5 text-slate-100"
        />
        <Image
            src={image}
            alt={alt}
            class="abs-center max-h-full w-auto p-5 pb-12"
        />
        <p class="caption font-sm font-sans text-rose-100 absolute bottom-0 pb-3 text-center w-full text-wrap"></p>
    </div>
</div>

<script>
    import exifr from 'exifr';

    document.querySelectorAll('.gallery-image')
        ?.forEach((container) => {
            container.addEventListener('click', async () => {
                container.querySelector<HTMLElement>('div.modal')!
                    .style.display = 'block';

                const image = container.querySelector<HTMLImageElement>('img')
                    ?.getAttribute('data-image-src')!;
                const output = await exifr.parse(
                    image,
                    {
                        exif: {
                            pick: [
                                'Make', 'Model', 'ExifImageWidth', 'ExifImageHeight',
                                'FocalLength', 'ExposureTime', 'ISO', 'FNumber',
                            ],
                        },
                        xmp: {pick: ['Lens']},
                    },
                );

                console.log(output.Lens)
                container.querySelector('p.caption')!.innerHTML =
                    `Taken with ${output.Make} ${output.Model}${output.Lens != null ? ` + ${output.Lens}` : ''} |
                    ${output.ExifImageWidth}&times;${output.ExifImageHeight}px at ${output.FocalLength} mm,
                    1/${1 / output.ExposureTime} s, ISO ${output.ISO}, ƒ${output.FNumber}`;

                container.querySelector('.close-btn')
                    ?.addEventListener('click', (event) => {
                        const modal = container.querySelector<HTMLElement>('div.modal');
                        modal!.style.display = 'none';

                        event.stopPropagation();
                    });
            });
    });
</script>