---
import { Image } from "astro:assets";

import Icon from "./Icon.astro";

interface Props {
    images: ImageMetadata[],
    image: ImageMetadata,
    album: string,
}

const { images, image, album } = Astro.props;
const alt = `An image from the album: [${album}]`
---
<div class="gallery-image">
    <Image
        src={image}
        alt={alt}
        class={
            `rounded-md mb-4 shadow-lg hover:scale-[102%] opacity-90
            border border-transparent hover:border-slate-100
            transition-all duration-300 ease-in-out`
        }
        quality={50}
        loading="lazy"
        decoding="async"
        data-album-image
    />
    <div
        class="modal hidden fixed z-50 left-0 top-0 w-screen h-screen
        bg-black bg-opacity-75 backdrop-blur-md"
    >
        <Icon
            img="close"
            target="_self"
            size="4em"
            styles="z-50 close-btn absolute right-0 m-4 mr-5 text-slate-100"
        />
        <div class="swiper-body w-full h-full overflow-x-hidden">
            <div class="swiper w-full h-full">
                <div class="swiper-wrapper">
                    {
                        images.map((slide) => (
                            <div class="swiper-slide">
                                <Image
                                    src={slide}
                                    alt={alt}
                                    class="abs-center max-h-full w-auto p-5 pb-12"
                                    data-slider-image={slide.src}
                                />
                                <p class="caption font-sm font-sans text-rose-100 absolute bottom-0 pb-3 text-center w-full text-wrap"></p>
                            </div>
                        ))
                    }
                </div>
                <div class="swiper-button-prev ml-10"></div>
                <div class="swiper-button-next mr-10"></div>
            </div>
        </div>
    </div>
</div>

<script>
    import { formatImageEXIF } from '../utils';

    document.querySelectorAll('div.swiper-slide')
        ?.forEach(async (slide) => {
            const image = slide.querySelector<HTMLImageElement>('img')!;

            slide.querySelector('p.caption')!.innerHTML = await formatImageEXIF(
                image,
                image.getAttribute('data-slider-image')!,
            );
        });

    document.querySelectorAll('div.gallery-image')
        ?.forEach((container) => {
            const modal = container.querySelector<HTMLElement>('div.modal')!;

            container.addEventListener('click', () => {
                modal.style.display = 'block';
            });

            container.querySelector('.close-btn')
                ?.addEventListener('click', (event) => {
                    modal.style.display = 'none';
                    event.stopPropagation();
                });
        });
</script>

<script src="../libs/GallerySlider.ts"/>