---
import { Icon as AstroIcon } from "astro-icon/components";

interface Props {
    img: string;
    href?: string;
    target?: string;
    color?: string;
    size?: string;
    styles?: string;
}

const {
    img,
    href,
    target = "_blank",
    color = "text-yellow-100",
    size = "3em",
    styles = "",
} = Astro.props;
---

{
    href ? (
        <a
            href={href}
            target={target}
            rel={target === "_blank" ? "noopener noreferrer" : ""}
        >
            <AstroIcon
                name={img}
                size={size}
                class={`${styles} ${color} transition-all duration-300 hover:scale-110 hover:text-white`}
            />
        </a>
    ) : (
        <AstroIcon
            name={img}
            size={size}
            class={`${styles} ${color} transition-all duration-300 hover:scale-110 hover:text-white`}
        />
    )
}
