---
import { Icon as AstroIcon } from 'astro-icon/components';

interface Props {
    href: string,
    img: string,
    target?: string | undefined,
    size?: string | undefined,
    styles?: string | undefined,
}

const {
    href,
    img,
    target = "_blank",
    size = "3em",
    styles = "",
} = Astro.props;
---
<a href={href} target={target}>
    <AstroIcon
        name={img} size={size}
        class={`${styles} text-rose-200 hover:text-white hover:scale-110 transition-all duration-300`}
    />
</a>