---
import { Icon as AstroIcon } from "astro-icon/components";

interface Props {
    img: string;
    href?: string;
    target?: string;
    color?: string;
    size?: string;
    styles?: string;
}

const {
    img,
    href = "javascript:void(0)",
    target = "_blank",
    color = "text-yellow-100",
    size = "3em",
    styles = "",
} = Astro.props;
---

<a href={href} target={target}>
    <AstroIcon
        name={img}
        size={size}
        class={`${styles} ${color} hover:text-white hover:scale-110 transition-all duration-300`}
    />
</a>
