---
import Icon from './Icon.astro';
import { Icon as AstroIcon } from 'astro-icon/components';

interface Href {
    href: string,
    hrefTitle: string,
}
interface Props {
    name: string,
    github: string,
    hrefs?: Href[] | undefined,
    logo?: string | undefined,
    imgStyles?: string | undefined,
}

const {
    name, github,
    hrefs = [],
    logo, imgStyles = "",
} = Astro.props;
---
<div class="glass hover:scale-102 duration-300 ease-in-out transition-transform flex flex-wrap gap-x-20 gap-y-10 p-5 rounded-lg justify-between mx-5">
    <div class="flex flex-col flex-1 gap-5 min-w-1/2 max-w-full">
        <h1 class="border-b-2 pb-1 w-fit font-4xl font-bold">{name}</h1>
        <div class="text-wrap drop-shadow-lg">
            <slot/>
        </div>
        <div class="mt-6 flex flex-wrap gap-3 font-extrabold text-yellow-100">
            <a class="icon-link" href={github} target="_blank">
                [<AstroIcon name="github" href={github} size="1em" class="text-yellow-100"/> GitHub]
            </a>
            {
                hrefs.map((link) =>
                    <a class="icon-link" href={link.href} target="_blank">
                        [<AstroIcon name="link" href={link.href} size="1em" class="text-yellow-100"/> {link.hrefTitle}]
                    </a>
                )
            }
        </div>
    </div>
    {
        logo &&
        <div class="flex justify-center items-center">
            <div class="glass glass-extras p-4 rounded-lg">
                <Icon
                    href={github}
                    img={'projects/' + logo}
                    size="5em"
                    styles={`drop-shadow-md opacity-90 ${imgStyles}`}
                />
            </div>
        </div>
    }
</div>

<style scoped>
    @reference '../styles/global.css';

    h1 {
        transition: transform 0.5s linear;
    }

    h1:hover {
        transform: scale(105%);
    }

    a:hover, a:hover svg {
        color: white;
    }

    .icon-link {
        @apply flex gap-1 items-center;
    }
</style>