---
import Icon from './Icon.astro';
import { Icon as AstroIcon } from 'astro-icon/components';

interface Href {
    href: string,
    hrefTitle: string,
}
interface Props {
    name: string,
    github: string,
    hrefs?: Href[] | undefined,
    logo?: string | undefined,
    imgStyles?: string | undefined,
}

const {
    name, github,
    hrefs = [],
    logo, imgStyles = "",
} = Astro.props;
---
<div class="flex flex-row flex-wrap gap-20 p-5 rounded-lg shadow-xl border-t-[1px] justify-between bg-black bg-opacity-[9%] mx-5">
    <div class="flex flex-col flex-1 gap-5 max-w-full">
        <h1 class="border-b-2 pb-1 w-fit font-4xl font-bold">{name}</h1>
        <div class="text-wrap">
            <slot/>
        </div>
        <div class="flex flex-row gap-3 font-extrabold text-sky-200">
            <a class="icon-link" href={github} target="_blank">
                [<AstroIcon name="github" href={github} size="1em" class="text-sky-200"/> GitHub]
            </a>
            {
                hrefs.map((link) =>
                    <a class="icon-link" href={link.href} target="_blank">
                        [<AstroIcon name="link" href={link.href} size="1em" class="text-sky-200"/> {link.hrefTitle}]
                    </a>
                )
            }
        </div>
    </div>
    <div class="flex justify-center items-center">
        {
            logo && <div class="p-4 bg-black bg-opacity-10 rounded-lg">
                <Icon
                    href={github}
                    img={'projects/' + logo}
                    size="5em"
                    styles={`drop-shadow-md opacity-90 ${imgStyles}`}
                />
            </div>
        }
    </div>
</div>

<style>
    h1 {
        transition: transform 0.5s linear;
    }

    h1:hover {
        transform: scale(105%);
    }

    a:hover, a:hover svg {
        color: white;
    }

    .icon-link {
        @apply flex flex-row gap-1 items-center;
    }
</style>